body{
    background-image: url("../images/flower.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-position: top right;
}

h2 {
    border-color: black;
    border-width: 5px;
    border-style: dotted;
}

ol{
    border: 1px solid black;
}

li {
    color: #FF7B2C;
    border: solid 5px red;
    padding: 5px;
    margin: 10px 15px 20px 25px; //top right bottom left
    border-radius: 10px;
}

#tablita{
    background-color: #FF7B2C;
    height: 200px;
    width: 500px;
    width: 40%;
}

#subtitulo{
    margin: 50px;
    font-family: Arial;
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 20px;
    font-size: 30px;
}

#parrafo{
    margin: 35px;
    font-size: 20px;
    word-spacing: 10px;
    line-height: 30px;
}

footer{
    background-color: #535353;
    padding: 30px;
    height: 150px;
}

footer > p{
    color: white;
    text-align: center;
}