body {
    font-weight: bold;
    font-family: "Comic Sans MS", serif;
    color: black;
}
.btn{
    margin: 5px;
    color: black;
    font-weight: bold;
    border-color: black;
    border-width: 1px;
    border-radius: 100px;
    background-color: #3377ff;
}

#SecAppSubscriptions {
    background-color: #99bbff;
    padding: 5%;
}
.col-sm-6{
    padding: 1%;
    width: 33%;
    height: 100%;
    text-align: center;
}
.card-title {
    font-weight: bold;
    text-align: center;
}
.card {
    color: white;
    background-color: #002D86;
    border-radius: 50px;
}

#SecWorkWithUs {
    padding: 5%;
}
#contenedorSecWWU {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
}
.WWUcolum {
    padding: 0 5% 0 5%;
    width: 50%;
}
